/* Mengimpor font Poppins agar estetik */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff5f7; /* Putih kemerahan sangat muda */
  color: #444;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Scrollbar biar ikutan pink */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff0f5;
}

::-webkit-scrollbar-thumb {
  background: #ffc2d1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffafcc;
}
